{% extends 'bootstrap/base.html'%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/home.css') }}"
        type="text/css"
    />
    {%block styles%}
    {{super()}}
    <!-- importing simplemde css and js files -->
    {{simplemde.css}}
    {{simplemde.js}}
    {%endblock%}

</head>
<body>
    {% include 'navigation.html' %}
    {% block body %}{% endblock %}
</body>
</html>